:root {
    --color-gray-1: #f5f5f5;
    --color-gray-2: #c5c5c5;
    --color-gray-3: #959595;
    --color-gray-4: #656565;
    --color-gray-5: #353535;

    --color-muted: rgba(0, 0, 0, 0.6);

    --color-lines: var(--color-gray-3);
    --color-light-background: white;

    --border-radius-base: 0.25rem;

    --base-gap: 1rem;
}

html {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    min-height: 100vh;
    background-color: var(--color-gray-1);
}

body {
    margin: 0px;
    min-height: 100vh;
}

.muted {
    color: var(--color-muted);
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 600;
    font-size: 25px;
}

h2 {
    font-weight: 600;
    font-size: 22px;
}

h3 {
    font-size: 16px;
    margin: 0px;
}